.notification {
  gap: 20px;
  background: var(--mian-bg-gradient);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
  padding: 1.5em 2em;
  font-size: var(--fs-s);
  font-weight: var(--fw-normal);
  justify-content: space-around;
  border-radius: 2em;
  border-top-right-radius: 0;
  transform-origin: right;
  position: fixed;
  bottom: var(--space);
  animation: slide-in 0.5s ease-in 1 forwards;
}

.notification .icon {
  font-size: var(--fs-m);
}
